<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Baje Ka Katha</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <link rel = "stylesheet" type="text/css" href='{% static 'css/main.css' %}'>
    </head>
    <body>
        <nav class="navbar sticky-navbar">
            <div class="navbar-content">
                <div class="site-title">
                    <a href="#">बाजेका कथा</a>
                </div>
                <div class="navbar-actions">
                    <a href="{% url 'detail' %}" class="more-stories">Explore More Tales</a>
                    <a href="{% url 'homepage' %}#newsletter" class="subscribe-button">Subscribe</a>
                    <a href="{% url 'folkForm' %}" class="tell-tale-button">Tell Your Tale</a>
                </div>
            </div>
        </nav>
        <section class="container">
            <div class="main-folktale">
                <div class="details">
                    <h1>{{ post.title }}</h1>
                    <p class="author-date">Teller: {{ post.author }}</p>
                    {% comment %} | Date: {{ post.created_at|date:"F Y" } {% endcomment %}
                </div>
                {% if post.image %}
                <div class="image">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                </div>
                {% endif %}
            </div>
            <div class="story">
                {{ post.content|linebreaks }}
            </div>
        </section>
        <div class="section-divider"></div>
        <footer class="site-footer">
            <div class="footer-content">
                <div class="footer-section about-us">
                    <h3 class="fotter-heading">About Us</h3>
                    <p>बाजेका कथा is a platform for preserving and sharing Nepali folktales and cultural stories. It allows users to contribute stories in text format and offers newsletters with curated content. Our mission is to celebrate diverse narratives, preserve folktales, and honor traditional wisdom.</p>
                    <p>Nepali folktales carry the essence of cultural values, wisdom, and history. Passed down through generations, these stories reflect the spirit of the Himalayan region, ensuring that Nepali traditions live on for future generations.</p>
                </div>
                <div class="footer-section social-connect">
                    <div class="social-media">
                        <h3>Connect With Us</h3>
                        <div class="social-icons">
                            <a href="https://www.facebook.com" class="social-icon" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com" class="social-icon" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.twitter.com" class="social-icon" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 बाजेका कथा. All Rights Reserved.</p>
            </div>
        </footer>
    </body>
</html>